In [1]:
import pandas as pd
import os
import requests as req
import json
import csv
from datetime import datetime, timedelta
from datetime import date

In [2]:
data_frame = pd.read_csv("testfile.csv", header=None)

In [3]:
def request_url(lat,lon):

    options = {}
    options["url"] = "https://api.openweathermap.org/data/2.5/weather"
    options["lat"] = str(lat)
    options["lon"] = str(lon)
    options["units"] = "metric"
    options["api_key"] = "c5d22ed423af74ba40fc97b49c023304"

    REQUEST_URL = options["url"] + "?lat=" \
    + options["lat"] \
    + "&lon=" + options["lon"] \
    + "&appid=" + options["api_key"] \
    + "&units=" + options["units"]

    return REQUEST_URL

In [9]:
weather_list = list()
response = req.get(request_url(data_frame[0][0], data_frame[1][0]))
data = response.json()
#weather_list.append(data)

In [10]:
data

{'coord': {'lon': -157.8581, 'lat': 21.3103},
 'weather': [{'id': 802,
   'main': 'Clouds',
   'description': 'scattered clouds',
   'icon': '03n'}],
 'base': 'stations',
 'main': {'temp': 21.97,
  'feels_like': 22.55,
  'temp_min': 20.9,
  'temp_max': 23.31,
  'pressure': 1013,
  'humidity': 89},
 'visibility': 10000,
 'wind': {'speed': 0.89, 'deg': 227, 'gust': 1.79},
 'clouds': {'all': 40},
 'dt': 1669912870,
 'sys': {'type': 1,
  'id': 7878,
  'country': 'US',
  'sunrise': 1669913574,
  'sunset': 1669952918},
 'timezone': -36000,
 'id': 5856195,
 'name': 'Honolulu',
 'cod': 200}

In [5]:
df = pd.DataFrame.from_records(data)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [10]:
response = req.get(request_url(data_frame[0][1], data_frame[1][1]))
data = response.json()
weather_list.append(data)

In [47]:
df = pd.json_normalize(weather_list)
df.head()

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1663688130,-36000,5856195,Honolulu,200,-157.8581,21.3103,...,1014,71,7.72,50,20,1,7878,US,1663690787,1663734592
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1663688162,-36000,5850871,Maui County,200,-156.4924,20.8694,...,1014,73,7.72,40,20,2,19170,US,1663690462,1663734262

In [48]:
dw = pd.json_normalize(weather_list[0]['weather'])
dw.head()

    id    main description icon
0  801  Clouds  few clouds  02n

In [46]:
weather_list

[{'coord': {'lon': -157.8581, 'lat': 21.3103},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02n'}],
  'base': 'stations',
  'main': {'temp': 25.11,
   'feels_like': 25.53,
   'temp_min': 23.9,
   'temp_max': 25.9,
   'pressure': 1014,
   'humidity': 71},
  'visibility': 10000,
  'wind': {'speed': 7.72, 'deg': 50},
  'clouds': {'all': 20},
  'dt': 1663688130,
  'sys': {'type': 1,
   'id': 7878,
   'country': 'US',
   'sunrise': 1663690787,
   'sunset': 1663734592},
  'timezone': -36000,
  'id': 5856195,
  'name': 'Honolulu',
  'cod': 200},
 {'coord': {'lon': -156.4924, 'lat': 20.8694},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02n'}],
  'base': 'stations',
  'main': {'temp': 24.76,
   'feels_like': 25.2,
   'temp_min': 20.25,
   'temp_max': 25.67,
   'pressure': 1014,
   'humidity': 73},
  'visibility': 10000,
  'wind': {'speed': 7.72, 'deg': 40},
  'clouds': {'all': 20},
  'dt': 1663688162,
  'sys': {'type': 2,
   'id': 19170,
   'country': 'US',
   'sunrise': 1663690462,
   'sunset': 1663734262},
  'timezone': -36000,
  'id': 5850871,
  'name': 'Maui County',
  'cod': 200}]

In [12]:
df = pd.json_normalize(df)